@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #282828;
  color: #fff;
}
.card{
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  border-radius: 20px;
}

.card-grp{
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
.card-grp::-webkit-scrollbar {
  display: none;}